@charset "UTF-8";
/*项目用到的颜色*/
/* line 25, ../sass/_color.scss */
.red {
  color: #a90125; }

/* line 29, ../sass/_color.scss */
.dackred {
  color: #6b4544; }

/* line 32, ../sass/_color.scss */
.pink {
  color: #cf4d55; }

/* line 36, ../sass/_color.scss */
.error {
  color: #a90125; }
  /* line 38, ../sass/_color.scss */
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/*用来被继承的占位样式*/
/* line 4, ../sass/auction.scss */
.board {
  text-align: center;
  background: #fff;
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 3rem; }

/* line 11, ../sass/auction.scss */
.auction-rule {
  background: #fff;
  line-height: 2.6rem;
  padding: 0 10px;
  white-space: pre-line; }

/* line 17, ../sass/auction.scss */
.auction-rule .content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px; }

/* line 22, ../sass/auction.scss */
.auction-list {
  min-height: 132px;
  padding: 5px 0; }

/* line 27, ../sass/auction.scss */
.rule-title {
  font-size: 2.1rem;
  text-align: center; }

/* line 31, ../sass/auction.scss */
.auction-list .item {
  background: #fff;
  height: 132px;
  position: relative;
  margin-top: 2px; }

/* line 37, ../sass/auction.scss */
.item img {
  width: 112px;
  height: 112px;
  margin: 10px; }

/* line 42, ../sass/auction.scss */
.item .left, .item .right {
  position: absolute;
  top: 0;
  height: 100%; }

/* line 47, ../sass/auction.scss */
.item .left {
  left: 0;
  width: 112px; }

/* line 51, ../sass/auction.scss */
.item .right {
  right: 0;
  width: 100px;
  padding-top: 10px;
  text-align: right;
  padding-right: 10px; }

/* line 58, ../sass/auction.scss */
.item .middle {
  height: 100%;
  margin: 0 100px 0 135px;
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 900; }

/* line 66, ../sass/auction.scss */
.ongoing {
  color: #a90125;
  border: 1px solid #a90125;
  padding: 2px 5px;
  border-radius: 15px; }

/* line 73, ../sass/auction.scss */
.not_start {
  color: #f7d567;
  border: 1px solid #f7d567;
  padding: 2px 5px;
  border-radius: 15px; }

/* line 80, ../sass/auction.scss */
.end {
  color: #666666;
  border: 1px solid #666666;
  padding: 2px 5px;
  border-radius: 15px; }

/* line 86, ../sass/auction.scss */
.join {
  position: absolute;
  right: 10px;
  bottom: 33px;
  color: #fff;
  background: #a90125;
  padding: 2px 10px;
  border-radius: 5px; }

/* line 95, ../sass/auction.scss */
.enroll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 99; }

/* line 104, ../sass/auction.scss */
.enroll button {
  width: 96%;
  background: #a90125;
  height: 4rem;
  color: #fff;
  border-radius: 5px;
  font-size: 2rem; }

/* line 113, ../sass/auction.scss */
.auction-nav {
  position: fixed;
  top: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 998;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  background: rrgb(0, 0, 0, 0.8); }

/* line 125, ../sass/auction.scss */
.auction-nav span {
  font-size: 1.5rem;
  display: inline-block;
  width: 50%;
  text-align: center; }

/* line 132, ../sass/auction.scss */
.auction-comment {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  background: #fff;
  background: url('../img/auction-bg.png?1476778603');
  background-size: 100% 100%;
  z-index: 90;
  transition-property: left;
  transition-duration: 0.6s;
  transition-timing-function: linear; }

/* line 148, ../sass/auction.scss */
.auction-comment.show {
  left: 0; }

/* line 152, ../sass/auction.scss */
.auction-offer {
  position: fixed;
  height: 10%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 99;
  display: none; }
