@charset "UTF-8";
/*项目用到的颜色*/
.red {
  color: #a90125; }

.dackred {
  color: #6b4544; }

.pink {
  color: #cf4d55; }

.error {
  color: #a90125; }
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
.comment-listbox:before, .details-bottombox:before, .productinfo-list > .title:after, .details-title:after, .comment-list:after {
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  left: 0px; }

.comment-listbox:before, .details-bottombox:before, .productinfo-list > .title:after, .details-title:after, .comment-list:after, .details-bottombox > .add:before {
  content: '';
  display: block;
  position: absolute; }

.details-bottombox > .add:before {
  right: 0px;
  top: 0px;
  width: 1px;
  height: 100%;
  background: #e2e2e2;
  -webkit-transform-origin: 100% 50%;
  -webkit-transform: scaleX(0.5); }

.comment-listbox:before, .details-bottombox:before {
  top: -1px; }

.productinfo-list > .title:after, .details-title:after, .comment-list:after {
  bottom: 0px; }

.comment, .details-bottombox {
  display: -webkit-box;
  -webkit-box-align: center; }

.details-slide .top .back, .details-slide .top .share, .productinfo-head .rightbox, .comment-list .photo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%); }

/*用来被继承的占位样式*/
/*项目用到的颜色*/
.red {
  color: #a90125; }

.dackred {
  color: #6b4544; }

.pink {
  color: #cf4d55; }

.error {
  color: #a90125; }
  .error::-webkit-input-placeholder {
    color: #a90125; }

body {
  padding: 0 0 50px 0; }

.details-slide {
  position: relative; }
  .details-slide .top {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9; }
    .details-slide .top .back {
      left: 15px;
      width: 12px;
      height: 30px; }
    .details-slide .top .share {
      right: 15px;
      width: 22px; }
  .details-slide .cont {
    display: -webkit-box;
    width: 100%;
    overflow: hidden; }
    .details-slide .cont:before {
      content: '';
      display: block;
      height: 0px;
      margin-top: 66.666%; }
    .details-slide .cont > img {
      display: block;
      width: 100%; }
  .details-slide .icon {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 0px; }
    .details-slide .icon > span {
      display: inline-block;
      margin: 0px 5px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ffffff; }
      .details-slide .icon > span.on {
        background: #333333; }

.productinfo-head {
  position: relative;
  padding: 10px 75px 10px 15px;
  background: #ffffff; }
  .productinfo-head .rightbox {
    right: 0px;
    padding: 0 20px 0 5px;
    border-left: 1px solid #cccccc;
    font-size: 9px; }
  .productinfo-head .title {
    font-size: 1.4rem;
    color: #333333; }
  .productinfo-head .price {
    font-size: 18px; }
    .productinfo-head .price > i {
      font-size: 15px; }

.u-list-arrow {
  margin: 5px 0; }
  .u-list-arrow > a {
    padding-left: 15px;
    color: #333333;
    font-size: 1.2rem; }

.productinfo-list {
  color: #333333;
  background: #ffffff; }
  .productinfo-list > .title {
    position: relative;
    padding: 5px 15px;
    margin: 0  0  5px 0;
    font-size: 1.2rem; }
  .productinfo-list .cont {
    padding: 10px 0; }
  .productinfo-list p {
    padding: 3px 15px;
    font-size: 1.2rem; }

.details-title {
  position: relative;
  padding: 5px 15px;
  font-size: 1.2rem;
  background: #ffffff; }

.details-infobox, .video {
  margin: 5px 0 0 0;
  background: #ffffff; }

.details-infobox .cont {
  padding: 5px; }
  .details-infobox .cont > img {
    width: 100%; }
    .details-infobox .cont > img:not(:last-child) {
      margin-bottom: 5px; }

.comment {
  margin-top: 5px;
  padding: 10px;
  background: #ffffff; }
  .comment > .cont {
    display: block;
    padding: 0px 10px;
    border: 1px solid #f0b5ad;
    border-radius: 3px;
    height: 25px;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    font-size: 12px;
    color: #000000; }
  .comment > .submit {
    display: block;
    width: 50px;
    height: 25px;
    margin-left: 5px;
    background: #f0b5ad;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px; }

.comment-listbox {
  position: relative; }

.comment-list {
  position: relative;
  padding: 8px 15px 8px 50px;
  background: #ffffff;
  font-size: 10px; }
  .comment-list .photo {
    left: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%; }
  .comment-list .name {
    line-height: 10px;
    padding-bottom: 8px;
    color: #999999; }
  .comment-list .cont {
    line-height: 14px; }

.u-index-title {
  padding: 10px 0; }
  .u-index-title p {
    color: #999999; }
  .u-index-title:after {
    background: #999999; }

.u-box-left50-right50 {
  margin: 0px; }

/*底部的加入购物车*/
.details-bottombox {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-right: 210px;
  width: 100%;
  height: 4.5rem;
  background: #ffffff;
  box-sizing: border-box;
  z-index: 19; }
  .details-bottombox:before {
    background: #a90125; }
  .details-bottombox > .add, .details-bottombox > .buy {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 105px;
    font-size: 16px;
    text-align: center;
    line-height: 4.5rem; }
  .details-bottombox > .add {
    right: 105px;
    background: #ffeded;
    color: #a90125; }
    .details-bottombox > .add:before {
      left: 0px;
      right: inherit;
      background: #a90125; }
  .details-bottombox > .buy {
    right: 0px;
    background: #a90125;
    color: #ffffff; }
  .details-bottombox > .icon {
    -webkit-box-flex: 1;
    font-size: 1.1rem;
    color: #000000;
    text-align: center; }
    .details-bottombox > .icon > img {
      width: 18px;
      height: 18px; }

/*slide*/
.hl-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.slides {
  display: -webkit-box;
  width: 100%;
  height: 100%;
  font-size: 0;
  -webkit-transform: translate3d(0px, 0, 0); }

.slides .slide-list {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  font-size: 20px;
  overflow-y: auto; }

.slides .slide-list img {
  width: 100%; }

.slides.animate {
  -webkit-transition: all 0.3s ease-out; }

.position-nav {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  height: 16px;
  background-color: transparent;
  text-align: center;
  z-index: 1; }

.position-nav .position {
  display: inline-block;
  margin: 0px 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff; }

.position-nav .position.current {
  background: #a90125; }

/*end*/
.details-infobox .cont img {
  width: 100%; }

.details-infobox .cont p {
  padding-top: 5px; }

/*# sourceMappingURL=details.css.map */
