@charset "UTF-8";
/*项目用到的颜色*/
/* line 25, ../sass/_color.scss */
.red {
  color: #a90125; }

/* line 29, ../sass/_color.scss */
.dackred {
  color: #6b4544; }

/* line 32, ../sass/_color.scss */
.pink {
  color: #cf4d55; }

/* line 36, ../sass/_color.scss */
.error {
  color: #a90125; }
  /* line 38, ../sass/_color.scss */
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/* line 34, ../sass/_extend.scss */
.enterinfobox:after {
  content: '';
  position: absolute;
  display: block;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0% 0%; }

/* line 41, ../sass/_extend.scss */
.enterinfobox:after {
  padding: 1px;
  left: 0px;
  top: 0px;
  right: -100%;
  bottom: -100%;
  border-radius: 4px;
  border: 1px solid #e2e2e2; }

/* line 57, ../sass/_extend.scss */
.enterinfobox {
  display: -webkit-box;
  -webkit-box-align: center; }

/*用来被继承的占位样式*/
/* line 5, ../sass/findPersonal.scss */
body {
  background: #ffffff; }

/* line 9, ../sass/findPersonal.scss */
.findPassword-contbox {
  padding: 0 10px; }
  /* line 11, ../sass/findPersonal.scss */
  .findPassword-contbox > .title {
    padding: 10px 0;
    font-size: 12px;
    color: #cccccc; }

/* line 18, ../sass/findPersonal.scss */
.enterinfobox {
  position: relative;
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 0px; }
  /* line 24, ../sass/findPersonal.scss */
  .enterinfobox:after {
    border-color: #000;
    z-index: -1; }
  /* line 29, ../sass/findPersonal.scss */
  .enterinfobox > .icon {
    padding: 0 10px;
    width: 25px; }
  /* line 33, ../sass/findPersonal.scss */
  .enterinfobox > .input {
    padding: 0px 10px;
    height: 2.8rem;
    border: none;
    border-left: 1px solid #999999;
    font-size: 16px; }
  /* line 40, ../sass/findPersonal.scss */
  .enterinfobox > .verification-cord {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    width: 90px;
    height: 2.5rem;
    background: #a90125;
    color: #fff;
    font-size: 13px;
    border-radius: 6px;
    text-align: center;
    line-height: 2.5rem; }
    /* line 53, ../sass/findPersonal.scss */
    .enterinfobox > .verification-cord.disable {
      background: #aaaaaa; }

/* line 58, ../sass/findPersonal.scss */
.u-button-main {
  margin-top: 10px; }
