@charset "UTF-8";
/*项目用到的颜色*/
.red {
  color: #a90125; }

.dackred {
  color: #6b4544; }

.pink {
  color: #cf4d55; }

.error {
  color: #a90125; }
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
.index-nav:after {
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  left: 0px; }

.index-nav:after, .newsbox .newsul:before {
  content: '';
  display: block;
  position: absolute; }

.newsbox .newsul:before {
  right: 0px;
  top: 0px;
  width: 1px;
  height: 100%;
  background: #e2e2e2;
  -webkit-transform-origin: 100% 50%;
  -webkit-transform: scaleX(0.5); }

.index-nav:after {
  bottom: 0px; }

.newsbox .newsul > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*用来被继承的占位样式*/
/*项目用到的颜色*/
.red {
  color: #a90125; }

.dackred {
  color: #6b4544; }

.pink {
  color: #cf4d55; }

.error {
  color: #a90125; }
  .error::-webkit-input-placeholder {
    color: #a90125; }

body {
  padding: 50px 0 50px 0; }

.index-nav {
  display: -webkit-box;
  position: relative;
  padding: 15px 0;
  background: #ffffff; }
  .index-nav > .box {
    display: block;
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 11px;
    line-height: 19px;
    color: #666666; }
  .index-nav img {
    width: 4rem;
    height: 4rem; }

.newsbox {
  position: relative;
  padding: 10px 15px 10px 65px;
  background: #ffffff; }
  .newsbox > .head {
    position: absolute;
    left: 10px;
    top: 17px;
    width: 50px; }
  .newsbox .newsul {
    position: relative; }
    .newsbox .newsul:before {
      left: 0px; }
    .newsbox .newsul > li {
      position: relative;
      padding: 0 0 0 20px;
      width: 100%;
      box-sizing: border-box; }
      .newsbox .newsul > li:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        margin: -2px 0 0 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #a90125; }

/*拍卖*/
.scrollhide {
  position: relative;
  margin: 10px 0; }
  .scrollhide:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: #ffffff;
    z-index: 9; }

.auction {
  display: -webkit-box;
  overflow-x: scroll;
  padding: 10px;
  background: #ffffff; }
  .auction .cont {
    position: relative;
    width: 25%;
    margin: 0 10px 0 0;
    font-size: 0px; }
  .auction .u-autoheight {
    display: inline-block; }
  .auction .state {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0 10px 0 0;
    width: 70%;
    font-size: 9px;
    color: #ffffff;
    text-align: right;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(rgba(0, 0, 0, 0.5))); }
  .auction:after {
    content: '';
    display: block;
    width: 5px; }

/*slide*/
.hl-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.slides {
  display: -webkit-box;
  width: 100%;
  height: 100%;
  font-size: 0;
  -webkit-transform: translate3d(0px, 0, 0); }

.slides .slide-list {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  font-size: 20px;
  overflow-y: auto; }

.slides .slide-list img {
  width: 100%; }

.slides.animate {
  -webkit-transition: all 0.3s ease-out; }

.position-nav {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  height: 16px;
  background-color: transparent;
  text-align: center;
  z-index: 1; }

.position-nav .position {
  display: inline-block;
  margin: 0px 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff; }

.position-nav .position.current {
  background: #a90125; }

/*end*/

/*# sourceMappingURL=index.css.map */
