@charset "UTF-8";
/*项目用到的颜色*/
/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/*用来被继承的占位样式*/
/* line 5, ../sass/king-frist.scss */
body {
  padding: 0 0 60px 0; }

/* line 9, ../sass/king-frist.scss */
.king-fist-photo {
  position: absolute;
  top: 10px;
  left: 50px; }
