@charset "UTF-8";
/*项目用到的颜色*/
/* line 25, ../sass/_color.scss */
.red {
  color: #a90125; }

/* line 29, ../sass/_color.scss */
.dackred {
  color: #6b4544; }

/* line 32, ../sass/_color.scss */
.pink {
  color: #cf4d55; }

/* line 36, ../sass/_color.scss */
.error {
  color: #a90125; }
  /* line 38, ../sass/_color.scss */
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/* line 5, ../sass/_extend.scss */
.msg-contbox .cont:after {
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  left: 0px; }

/* line 13, ../sass/_extend.scss */
.msg-contbox .cont:after {
  content: '';
  display: block;
  position: absolute; }

/* line 31, ../sass/_extend.scss */
.msg-contbox .cont:after {
  bottom: 0px; }

/*用来被继承的占位样式*/
/* line 5, ../sass/message-notice.scss */
body {
  padding: 50px 0 0 0; }

/* line 9, ../sass/message-notice.scss */
.msg-time {
  display: block;
  padding: 20px 0 10px 0;
  font-size: 12px;
  color: #666666;
  text-align: center; }

/* line 16, ../sass/message-notice.scss */
.msg-contbox {
  padding: 10px;
  margin: 0px 10px;
  background: #ffffff;
  border-radius: 4px;
  color: #666666;
  font-size: 14px; }
  /* line 23, ../sass/message-notice.scss */
  .msg-contbox h3 {
    font-size: 16px; }
  /* line 26, ../sass/message-notice.scss */
  .msg-contbox .cont {
    position: relative;
    padding: 10px 0 10px 65px;
    min-height: 50px; }
    /* line 30, ../sass/message-notice.scss */
    .msg-contbox .cont p {
      line-height: 18px; }
    /* line 36, ../sass/message-notice.scss */
    .msg-contbox .cont img {
      position: absolute;
      left: 0px;
      top: 5px;
      width: 50px;
      height: 50px; }
  /* line 44, ../sass/message-notice.scss */
  .msg-contbox .more {
    display: block;
    padding: 15px 0 0 0;
    text-align: right;
    color: #666666; }
