@charset "UTF-8";
/*项目用到的颜色*/
/* line 25, ../sass/_color.scss */
.red {
  color: #a90125; }

/* line 29, ../sass/_color.scss */
.dackred {
  color: #6b4544; }

/* line 32, ../sass/_color.scss */
.pink {
  color: #cf4d55; }

/* line 36, ../sass/_color.scss */
.error {
  color: #a90125; }
  /* line 38, ../sass/_color.scss */
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/* line 5, ../sass/_extend.scss */
.recordlist:after {
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  left: 0px; }

/* line 13, ../sass/_extend.scss */
.recordlist:after {
  content: '';
  display: block;
  position: absolute; }

/* line 31, ../sass/_extend.scss */
.recordlist:after {
  bottom: 0px; }

/*用来被继承的占位样式*/
/* line 5, ../sass/myincome-record.scss */
body {
  padding: 55px 0 60px 0; }

/* line 8, ../sass/myincome-record.scss */
.listbox {
  margin: 5px 0;
  padding: 0 0 20px 0;
  min-height: 300px;
  background: #ffffff; }

/* line 15, ../sass/myincome-record.scss */
.recordlist {
  position: relative;
  padding: 10px;
  font-size: 13px;
  color: #666666;
  line-height: 13px; }
  /* line 24, ../sass/myincome-record.scss */
  .recordlist > p:first-child {
    padding: 0 0 15px 0; }
  /* line 27, ../sass/myincome-record.scss */
  .recordlist .amount {
    font-size: 16px;
    color: #000000; }
  /* line 31, ../sass/myincome-record.scss */
  .recordlist .name, .recordlist .time {
    float: right; }
