@charset "UTF-8";
/*项目用到的颜色*/
.red {
  color: #a90125; }

.dackred {
  color: #6b4544; }

.pink {
  color: #cf4d55; }

.error {
  color: #a90125; }
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
.placeorder-infobox:before, .placeorder-infobox .u-list-justify:after {
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  left: 0px; }

.placeorder-infobox:before, .placeorder-infobox .u-list-justify:after {
  content: '';
  display: block;
  position: absolute; }

.placeorder-infobox:before {
  top: -1px; }

.placeorder-infobox .u-list-justify:after {
  bottom: 0px; }

/*用来被继承的占位样式*/
/*项目用到的颜色*/
.red {
  color: #a90125; }

.dackred {
  color: #6b4544; }

.pink {
  color: #cf4d55; }

.error {
  color: #a90125; }
  .error::-webkit-input-placeholder {
    color: #a90125; }

body {
  padding-bottom: 60px; }

.placeorder-address {
  padding: 0px; }
  .placeorder-address .addressicon {
    position: absolute;
    left: 10px;
    bottom: 0px; }
  .placeorder-address .u-list-justify {
    padding: 10px 40px 10px 50px;
    font-size: 16px; }
  .placeorder-address .list {
    padding: 10px 0 25px 0;
    background: image-url("addressbg.png") -10% 100% repeat-x #ffffff;
    background-size: 35px 5px;
    color: #666666; }
  .placeorder-address .cont {
    position: relative;
    padding: 0 40px 0 50px; }
    .placeorder-address .cont .arrow {
      position: absolute;
      right: 15px;
      top: 50%;
      margin: -8px 0 0 0;
      width: 8px;
      height: 16px; }
    .placeorder-address .cont .addressicon {
      position: absolute;
      left: 15px;
      top: 50%;
      margin: -11px 0 0 0;
      width: 16px;
      height: 22px; }

.u-productlist02 {
  padding: 10px 5px 5px 100px;
  min-height: 110px;
  background: #ffffff; }
  .u-productlist02 .photo {
    top: 10px;
    left: 10px; }

.placeorder-productinfo {
  margin-bottom: 0px; }
  .placeorder-productinfo .price {
    padding: 15px 5px 0 8px; }

.placeorder-infobox {
  position: relative;
  background: #ffffff; }
  .placeorder-infobox .u-list-justify {
    position: relative;
    padding: 10px 0px;
    margin: 0px 10px; }
  .placeorder-infobox .right {
    width: 80px;
    -webkit-box-flex: 0; }
  .placeorder-infobox .left > input {
    width: 80%;
    border: 0px;
    outline: 0px;
    background: none;
    box-sizing: border-box; }
  .placeorder-infobox .left > i {
    width: 20%; }
  .placeorder-infobox .showcheckbox {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    border-radius: 2px; }
  .placeorder-infobox .checkbox {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0; }
    .placeorder-infobox .checkbox:checked + .showcheckbox {
      background: image-url("tickred.png") center center no-repeat;
      background-size: 22px 22px; }
  .placeorder-infobox .amount p {
    text-align: right; }

/*# sourceMappingURL=myorder-placeorder.css.map */
