@charset "UTF-8";
/*项目用到的颜色*/
/* line 25, ../sass/_color.scss */
.red {
  color: #a90125; }

/* line 29, ../sass/_color.scss */
.dackred {
  color: #6b4544; }

/* line 32, ../sass/_color.scss */
.pink {
  color: #cf4d55; }

/* line 36, ../sass/_color.scss */
.error {
  color: #a90125; }
  /* line 38, ../sass/_color.scss */
  .error::-webkit-input-placeholder {
    color: #a90125; }

/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/* line 51, ../sass/_extend.scss */
.order-empty > .box {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center; }

/*用来被继承的占位样式*/
/* line 4, ../sass/myorder-allorders.scss */
body {
  padding: 86px 0 30px 0; }

/* line 8, ../sass/myorder-allorders.scss */
.buttonbox {
  padding: 0 10px 10px 0;
  background: #ffffff;
  text-align: right; }

/* line 14, ../sass/myorder-allorders.scss */
.order-empty {
  padding-top: 100px;
  text-align: center; }
  /* line 17, ../sass/myorder-allorders.scss */
  .order-empty > .box {
    margin: 0px auto;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #eeeeee; }
    /* line 25, ../sass/myorder-allorders.scss */
    .order-empty > .box > img {
      display: block;
      width: 66px; }
  /* line 30, ../sass/myorder-allorders.scss */
  .order-empty > .font {
    padding: 15px 15px 20px 15px;
    font-size: 14px;
    color: #666666; }
  /* line 35, ../sass/myorder-allorders.scss */
  .order-empty > button {
    width: 150px;
    height: 40px;
    line-height: 40px; }

/* line 42, ../sass/myorder-allorders.scss */
.u-productlist02 {
  margin-top: 5px; }
