@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';



body {
  background: #ffffff;
}

.buttonbox {
  position: fixed;
  bottom:0px;
  padding:5px;
  width:100%;
  box-sizing: border-box;
  background: $bgcolor;
}

.add-address {
  display: block;
  padding:20px 0;
  text-align: center;
  font-size:14px;
  color:$fontcolorLv2;
}

