@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';

body {
  background: #ffffff;
}
.content {
  padding:0px 5px;
  &>.maininput {
    padding:20px 10px 0 10px;
    border:none;
    border-bottom:1px solid $maincolor;
    width:100%;
    line-height: 25px;
    background: #ffffff;
    color:#000000;
    font-size:14px;
    box-sizing: border-box;
  }
  &>.tips {
    padding:0px 10px;
    font-size:11px;
    line-height: 25px;
    color:$fontcolorLv4;
  }
}
.u-mainbutton-little {
  border-radius:4px;
  float: right;
}





