@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';

.my_integral {

    
    background: #fff;
    height: 80px; 
    line-height: 40px;
    font-size: 2.8rem;
    text-align: center;
    color: #fff;
    background: #9a0d0d;
    padding-bottom: 20px;
    
    h1 {
        font-size: 1.8rem;
    }
   
}

.instruction {
    margin-top: 5px;
    background: #fff;
    padding: 20px 10px;
    p {
        padding-top: 10px;
    }
    h1 {
        font-size: 2.4rem;
        font-weight: 900;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 900;
        padding-bottom: 5px;
    }
    .explain {
        font-size: 0.9rem;
        color: #666;
    }

}

.item {
    position: relative;
    background: #fff;
    margin-top: 2px;
    .cell {
        display: inline-block;
        height: 90px;
        &.integral {
            width: 80px;
            text-align: right;
            height: 90px;
            line-height: 90px;
        }
        &.detail {
            margin-left: 100px;
            position: absolute;
            top:0;
            left:0;
            line-height: 30px;
            border: 1px solid #ccc;
            border-style: none none none solid;
            padding-left: 10px;
            .datetime {
                height: 30px;
                text-align: right;
                font-size: 1.4rem;
                padding-right: 10px;
            }
            .desc {
                    height: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
            }
        }
    }
    
}

.blue {
    color: blue;
}