@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';


body {
  background: #eeeeee;
}
.head {
  background: #ffffff;
  &>img {
    display: block;
    margin:0px auto;
    width:125px;
  }
}
.tips,.wechat {
  display: block;
  margin:0px auto;
  width:210px;
}
.wechat {
  width:50px;
}
