@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';
body {
  padding:86px 0 30px 0;
}

.buttonbox {
  padding: 0 10px 10px 0;
  background: #ffffff;
  text-align: right;
}

.order-empty {
  padding-top:100px;
  text-align: center;
  &>.box {
    @extend %boxcenter;
    margin:0px auto;
    width:112px;
    height:112px;
    border-radius:50%;
    background: #ffffff;
    border:1px solid $fontcolorLv5;
    &>img {
      display: block;
      width:66px;
    }
  }
  &>.font {
    padding:15px 15px 20px 15px;
    font-size:14px;
    color:$fontcolorLv2;
  }
  &>button {
    width:150px;
    height:40px;
    line-height: 40px;
    
  }
}
.u-productlist02 {
    margin-top: 5px;
}