@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';

body {
  padding:55px 0 0 0;
}

.recordboxes {
  padding:0 0 20px 0;
  margin:0 0 20px 0;
  min-height:400px;
  background: #ffffff;


}


