@charset "utf-8";
@import 'extend'; /*用来被继承的占位样式*/
@import 'color';
body {
  padding:55px 0 0 0 ;
  -webkit-box-orient: vertical;
}
body,html {
  height:100%;
  box-sizing: border-box;
  display: -webkit-box;
}
.u-radiolist {
  position: relative;
  padding-bottom:50px;
  width:90%;
  height:80%;
  overflow: auto;
  box-sizing: border-box;

}
.u-popupbox {
  -webkit-box-orient: vertical;
  &>.buttonbox {
    @extend %boxcenter;
    padding:0px 15px;
    height:64px;
    width:90%;
    background: #ffffff;
    box-sizing: border-box;
    &>.buttonposition {
      display: block;
      width:100%;
    }
  }
}

.mainbox {
  padding:15px 5px;
  -webkit-box-flex: 1;
  background: #ffffff;
}
.submitbutton {
  left:50%;
  -webkit-transform:translate(-50%,0);
}

/*退款的列表项*/
.refund-option {
  @extend %box-middle;
  margin-bottom:15px;
  padding:10px 5px;
  background: #ebebeb;
  border-radius:4px;
  font-size:16px;
  color:$fontcolorLv2;
  line-height: 1.2;
  &>.name {
    width:6em;
    &>.star {
      position: relative;
      top:4px;
      font-size:18px;
      color:$maincolor;
      line-height: 1px;
    }
  }
  &>.cont {
    -webkit-box-flex: 1;
    font-size:12px;
    line-height: 1px;
  }
  &>.arrow {
    position: relative;
    top:-2px;
    margin-right:10px;
    width:15px;
  }
}

/*end*/


